html {
    align-items: center;
    color: #313131;
    display: flex;
    font: 22px "Courier New", Courier, monospace;
    height: 100%;
    justify-content: center;
    margin: 0;
    user-select: none;
    -moz-user-select: none;
}
.container {
    display: flex;
    color: black;
    margin: 1em;
    padding: 1em;
}
h1 {
    font-size: 2em;
    grid-column: 1 / -1;
    margin: 0;
    text-align: center;
}
a {
    color: inherit;
    text-decoration: none;
}
a:focus,
a:hover {
    color: #1d81b2;
}
nav {
    display: grid;
    grid-row-gap: 1em;
    grid-template-columns: 1fr 1fr;
    margin: 0 1em;
    min-width: 24em;
    padding: 1em 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
li {
    margin: 2px 0;
}
li:first-child {
    font-weight: bold;
    line-height: 2em;
}
img {
    border: 2px solid #313131;
    transform: scale(1.1);
    object-fit: cover;
    object-position: 50% 100%;
    width: 8em;
    height: auto;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#time {
    font-weight: bold;
    margin: 0;
}
#greeting {
    margin: 0;
}
.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-wrapper p {
    padding-top: 10px;
    font-size: 12px;
    cursor: pointer;
}
